.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(51, 66, 66);
  min-height: 10vh;
  color: white;
}
.nav-list{
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;

  
}